@import "../_color.scss";

footer {
    padding: 16px;
    width: 100%;
    background-color: $BLACK;
    min-height: 50px;
    display: flex;
    justify-content: flex-end;
    color: white;
    display: flex;
    align-items: center;
  
    .footer-item {
      margin-right: 10px;
  
      &:last-of-type {
        margin: 0;
      }
    }
  }
  