@import "../../color.scss";

.product-detail {
  .product-pic {
    background-color: $BLUE;
    height: 300px;
    width: 300px;
  }
  .product-info {
    padding: 20px;

    .seller-container {
      .seller-profile {
        display: flex;

        .profile-pic {
          width: 50px;
          height: 50px;
          border-radius: 25px;
          background-color: $BLUE;
        }

        .seller-info {
          margin-left: 10px;
        }
      }
      .seller-actions {
        .items-sold {
          line-height: 3rem;
          padding: 0 5px;
        }
      }
    }

    .contact-seller-container {
      margin-top: 16px;
    }

    .description-title {
      font-family: Poppins-Black;
      font-size: 1.25rem;
    }

    .description-price {
      font-size: 1.25rem;
    }

    .options-container {
      .contact-seller-btn {
        flex: 1 1;
      }
    }
  }
}
