.custom-navbar {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  background-color: white;

  .flex-1-only {
    flex: 1 1;
    font-size: 15px;
  }
  .nav-brand {
    flex: none;
    .logo {
      height: 32px;
    }
  }

  .btn-back {
    cursor: pointer;
  }

  a:hover {
    text-decoration: none;
  }
}

.order-container {
  section {
    padding: 40px 10vw;
    min-height: 95vh;

    display: flex;
    flex-direction: column;

    background-color: #f6f6f4;
  }

  // bootstrap override
  .form-check {
    padding-left: 5px;

    .invalid-feedback {
      display:none;
    }
  }

  .line-separator {
    border-top: 1px solid #0000004f;
  }

  .products {
    padding: 10px 0;
  }

  .subtotal {
    padding: 10px 0;
  }

  .total {
    padding: 10px 0;
  }

  .bold-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .order-form {
    padding: 10px 0;
  }

  .btn-next {
    margin-top: 20px;
  }

  .payment-information {
    padding-bottom: 20px;
  }

  .order-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }
}
