@import "../../color";

.product-item {
    .pic {
        height: 200px;
        background-color: $BLUE;
        cursor: pointer;

        &:hover {
            background-color: $BLUE-ACTIVE;
        }
    }
}